---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>

			<h1>¡Hola, amante de la programación y el origami! 🚀🎨</h1>
			<p>En este rincón digital, fusionamos el mundo lógico de la programación con la creatividad y la paciencia del arte del origami. Aquí encontrarás un espacio donde los algoritmos se entrelazan con pliegues precisos, creando una experiencia única que va más allá de los ceros y unos.</p>
			<!-- <h4>Explora Nuestro Contenido:</h4>
			<ul>
				<li>
					<h5>🖥️ Programación sin Fronteras:</h5>
					Sumérgete en el fascinante universo de la programación. Descubre tutoriales, consejos y proyectos que te ayudarán a expandir tus habilidades y a enfrentar nuevos desafíos en el mundo del código.
				</li>
				<li>
					<h5>🎨 Origami Creativo:</h5>
					Deja que tu lado artístico florezca con nuestras guías detalladas de origami. Desde animales encantadores hasta figuras geométricas, aquí encontrarás proyectos para todos los niveles, desde principiantes hasta expertos.
				</li>
			</ul> -->

		</main>
		<Footer />
	</body>
</html>

<style>
	h1 {
		font-size: 2.8rem;
		margin-bottom: 30px;
	}
</style>
